# Python cache
__pycache__/
*.pyc[cod]

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Packaging artifacts
build/
dist/
*.egg-info/

# Mkdocs
site/

# IDEs
.vscode/

# OS
Thumbs.db

# entorno virtual
.env/
venv/
env/
ENV/
.venv/

# Entornos virtuales de conda
.env.local
.env.dev
.env.prod
